body,html {
  max-width: 850px;
  margin: 0 auto;
  color: #002145;
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
#title {
  position: relative;
  margin: 0 auto;
  max-width: 590px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: navy;
}
h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
}
h3 {
  font-size: 14px;
}
p {
  font-size: 13px;
}
#options {
  display: flex;
  max-width: 650px;
  margin: auto;
  padding: 10px;
}
#button-container {
  margin: 0 auto;
}
button {
  background-color: #DCDCDC;
  border-radius: 3px;
  font-weight: 600;
  height: 28px;
  width: 70px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 1.5px solid navy;
  font-size: 12px;
  cursor: pointer;
  color: navy;
  margin: 3px;
}
button:focus {
  outline: 0;
}
#button-magician {
  width: 80px;
}
#button-flood {
  width: 90px;
}
#button-animate {
  background-color: red;
  color: white;
  border: none;
  display: none;
}
#button-zigzag-b {
  width: 140px;
}
#button-zigzag-f {
  width: 130px;
}
#graphic {
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}
#graphic-svg {
  height: 500px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.offenseDots {
  fill: gray;
  display: none;
}
#disc {
  fill: red;
  display: none;
}
#force {
  display: none;
  stroke: black;
}
@media screen and (max-width:400px) {
  #graphic {
    margin-top: 0;
    padding-top: 0;
  }
  #title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  button {
    font-size: 11px;
    width: 60px;
  }
  #button-zigzag-b {
    width: 140px;
  }
  #button-zigzag-f {
    width: 120px;
  }
  h1 {
    font-size: 25px;
  }
}
